<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/template/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/template/index.html">Arte visual</a></strong> por Artista</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Inicio</a></li>
						<li><a href="/contact/">Contacto</a></li>
            <li><a href="/about/">Info</a></li>
					</ul>
				</nav>
			</header>

			<a href="/template/#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

            Not Found

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="/template/#" class="icon fa-facebook"></a></li>
						<li><a href="/template/#" class="icon fa-twitter"></a></li>
						<li><a href="/template/#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Original Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/template/assets/js/jquery.min.js"></script>
			<script src="/template/assets/js/skel.min.js"></script>
			<script src="/template/assets/js/util.js"></script>
			<script src="/template/assets/js/main.js"></script>

	</body>
</html>
