<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Arte visual by Artista</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/template/assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="/">Arte visual</a></strong> by Artista</h1>
				<nav id="nav">
					<ul>
						  <li><a href="/">Inicio</a></li>
              <li><a href="/contact/">Contacto</a></li>
						<li><a href="/template/generic.html">Generic</a></li>
						<li><a href="/template/elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Con Talento Maquiz</h2>
				<p>Lorem ipsum dolor sit amet nullam consequat <br /> interdum vivamus donce sed libero.</p>

        <!-- TODO
        <ul class="actions">
					<li><a href="#" class="button big">Get Started</a></li>
				</ul>
        -->

			</section>

      <!-- Content -->
      {% block information %}
      {% endblock %}


      {% block collections %}
      {% endblock %}


      {% block contact %}
      {% endblock %}
      <!-- end content -->

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/template/assets/js/jquery.min.js"></script>
			<script src="/template/assets/js/skel.min.js"></script>
			<script src="/template/assets/js/util.js"></script>
			<script src="/template/assets/js/main.js"></script>

	</body>
</html>
