{% extends 'base.html'%}

{% block content %}
<!-- Form -->
<section>
    <h3>Contácteme</h3>
    <form method="post" action="#">
        <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)">
                <input type="text" name="name" id="name" value="" placeholder="Nombre" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <input type="email" name="email" id="email" value="" placeholder="Correo electrónico" />
            </div>
            <div class="12u$">
                <div class="select-wrapper">
                    <select name="category" id="category">
                        <option value="">- Categoría -</option>
                        <option value="1">Manufacturing</option>
                        <option value="1">Shipping</option>
                        <option value="1">Administration</option>
                        <option value="1">Human Resources</option>
                    </select>
                </div>
            </div>
            <div class="4u 12u$(xsmall)">
                <input type="radio" id="priority-low" name="priority" checked>
                <label for="priority-low">Baja prioridad</label>
            </div>
            <div class="4u 12u$(xsmall)">
                <input type="radio" id="priority-normal" name="priority">
                <label for="priority-normal">Prioridad normal</label>
            </div>
            <div class="4u$ 12u$(xsmall)">
                <input type="radio" id="priority-high" name="priority">
                <label for="priority-high">Alta prioridad</label>
            </div>
            <div class="6u 12u$(small)">
                <input type="checkbox" id="copy" name="copy">
                <label for="copy">Recibir una copia de este mensaje</label>
            </div>
            <div class="6u$ 12u$(small)">
                <input type="checkbox" id="human" name="human" checked>
                <label for="human">Soy un humano, no un bot</label>
            </div>
            <div class="12u$">
                <textarea name="message" id="message" placeholder="Introduce tu mensaje" rows="6"></textarea>
            </div>
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Enviar mensaje" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
    </section>
{% endblock %}
